<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- font and css link-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/../home.component.css">
        <title> Front Page </title>
    </head>

    <body>
      <div class="center">
        <div class="d-flex justify-content-center align-items-center h-400">
          <h1 class="mb-2">United Validation Portal</h1>
          <a routerLink="/../lobby"><button type="button" class="btn btn-secondary">Lobby Workstation</button></a>
          <a routerLink="/../gate"><button type="button" class="btn btn-secondary">Gate Workstation</button></a>
        </div>
      </div>
    </body>
